.gif {
  width: 500px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.gif.bookclub {
  top: 0;
  left: 0;
}

.gif.spotify {
  top: 240px;
  left: 230px;
}

.nav {
  font-family: var(--font-inter);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  position: relative;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  background-color: #d9d8d9;
}

.title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-left: 7px;
}

:global .btn-yellow {
  background-color: #ffbe2f;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
}

:global .btn-green {
  background-color: #29c93f;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  position: relative;
  height: 275px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.arrow {
  position: absolute;
  display: block;
  width: 20px;
  right: 10px;
  top: 10px;
}