.booting {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .booting.none {
  display: none;
} */

.apple-box {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 70px;
  /* visibility: hidden; */
}

/* .apple-box.visible {
  visibility: visible;
} */

:global .basic-img {
  display: block;
  width: 100%;
}

.bar-empty {
  width: 300px;
  height: 8px;
  background-color: rgb(39,42,41);
  border-radius: 5px;
  /* .bar-fill */
  position: relative;
  overflow: hidden;
  /* visibility: hidden; */
}

/* .bar-empty.visible {
  visibility: visible;
} */

.bar-fill {
  /* .bar-empty */
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: white;
}

.bar-fill.visible {
  animation: fill-bar 3s;
  width: 100%;
}

@keyframes fill-bar {
  0% { width: 0%; }
  60% { width: 30%; }
  70% { width: 30%; }
  100% { width: 100%; }
}

